html {
  overflow: hidden;
  background-color: rgb(92, 167, 95);
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

ul{
	margin-left: 92%;
	margin-top: -2%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gamebutton {
	border: none;
	background: #ddd;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
	border-radius: 10%;	
}

body button:hover {
	background-color:rgb(62, 95, 187);
	transition: all 0.5s;
	border-radius: 10%;
	color: white;
}
/* Demo */
.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1s;
	animation: 4s infinite;
	position: fixed;
	background-color: rgb(92, 167, 95);
}

/* Animation */
@-webkit-keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

/* Variables */
/* Loading Icon */
.loading {
	width: 100px;
	height: 100px;
}

.loading__ring {
	position: absolute;
	width: 100px;
	height: 100px;
}

.loading__ring:first-child {
	transform: skew(30deg, 20deg);
}

.loading__ring:last-child {
	transform: skew(-30deg, -20deg) scale(-1, 1);
}

.loading__ring:last-child svg {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.loading__ring svg {
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	fill: rgba(0, 0, 0, 0.2);
}
