html {
  overflow: hidden;
  background-color: rgb(92, 167, 95);
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: none;
	background: #ddd;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
	border-radius: 10%;	
}

body button:hover {
	background-color:rgb(7, 26, 78);
	transition: all 0.5s;
	border-radius: 10%;
	color: white;
}